<head>
  <title>LEVIO - Log In</title>
</head>
<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<div class="m-grid m-grid--hor m-grid--root m-page">
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-1" id="m_login" [ngStyle]="{'background-image': 'url(/assets/Background.jpg)'}">
    <div class="m-grid__item m-grid__item--fluid m-login__wrapper">
      <div class="m-login__container">

        <div class="m-login__logo">
          <a href="#">
            <img src="/assets/Background-Wide.png">
          </a>
        </div>


        <div class="m-login__signin">
          <form name="form" class="m-login__form m-form" (ngSubmit)="f.form.valid && Login()" #f="ngForm" novalidate>
            <div class="form-group m-form__group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
              <input class="form-control m-input" type="text" [(ngModel)]="model.email" #username="ngModel" name="email" placeholder="Email" autocomplete="off" required>
            </div>
            <div class="form-group m-form__group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
              <input class="form-control m-input m-login__form-input--last" type="password" [(ngModel)]="model.password" #password="ngModel" name="password" placeholder="Password" required>
            </div>
            <div class="row m-login__form-sub">
              <div class="col m--align-left m-login__form-left">
                <label class="m-checkbox  m-checkbox--light">
                  <input type="checkbox" name="remember"> Remember Me
                  <span></span>
                </label>
              </div>
              <div class="col m--align-right m-login__form-right">
                <a href="javascript:;" id="m_login_forget_password" class="m-link">Forgot Your Password ?</a>
              </div>
            </div>
            <div class="m-login__form-action">
              <input type="submit" value="Sign In" id="m_login_signin_submit" class="btn m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primary" />
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
</body>

