<div class="row row-map">
  <div class="col-md-9">
    <input id="geocode-input" hidden>
      <h2 class="heading">{{newclient.clientName}}</h2>
      <hr/>
    <div id="map"></div>
  </div>
  <div class="col-md-3 info-container">
    <div id="run-info">
      <h2 class="heading"></h2>
      <hr/>
      <div class="data-heading">Client Name:</div>
      <p class="data-entry">{{newclient.clientName}}</p>
      <hr/>

      <div class="data-heading">Address:</div>
      <p class="data-entry">{{newclient.address}} <p>
      <hr/>

      <div class="data-heading">Email:</div>
      <p class="data-entry">{{newclient.email}}</p>
      <hr/>

      <div class="data-heading">Phone:</div>
      <p class="data-entry">{{newclient.phoneNumber}}</p>
      <hr/>
    </div>
  </div>
</div>
